################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DirectX12 Engine/x64/Debug
/x64/Debug
/DirectX12 Engine/x64/Release
/x64/Release
